@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --main-dark: #222831;
    --secondary-dark: #393E46;
    --alternativ: #00ADB5;
    --light: #EEEEEE;
}

html,
body {
    background-color: var(--secondary-dark);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--light);
    font-family: 'Hind', sans-serif;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: var(--main-dark);
}

.cart-btn {
    margin: 0.5rem 1.2rem 0.5rem 0.5rem     ;
}

.nav-icon {
    padding: 5px;
    color: var(--light);
    font-size: 2rem;
}

.cart-items {
    position: absolute;
    top: 9px;
    right: 21px;
    border-radius: 5px;
    padding: 0.2rem;
    background-color: var(--alternativ);
    color: var(--light);
}

.products{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.75rem;
}

.product{
    width: 30%;
    margin: 2rem auto;
    filter: drop-shadow(-3px 11px 27px #000);
}

.product-img{
    width: 100%;
    object-fit:cover;
    border-radius: 0.75rem;
}

.bag-btn{
    font-family: inherit;
    width: 100px;
    background: transparent;
    color: var(--alternativ);
    border:2px var(--alternativ) solid;
    border-radius: 5px;
    margin-left: 0.5rem;
}